* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  min-height: 100vh;
  background-color: rgb(67, 201, 174);
}
.box {
  padding: 0 5px 0 5px;
}

.center {
  border: 5px solid #242327;
  width: 800px;
  margin-left: 500px;
  text-align: center;
  display: inline-block
}
.navbar{
  width: 100x;
  height: 100vh;
  position: fixed;
  margin-left: 500px;
  background-color: rgb(67, 107, 55);
  transition: 0.4s;
}
.nav-link{
  font-size: 1.25em;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover{
  background-color: rgb(0, 0, 0);
}

