* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  min-height: 100vh;
  background-color: rgb(167, 202, 195);
}
.navbar{
  width: 250px;
  height: 100vh;
  position: fixed;
  /*margin-left:*/
  background-color: rgb(67, 107, 55);
  transition: 0.4s;
}
.nav-link{
  font-size: 1.25em;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover{
  background-color: black;
}

