#navbarNav2 > ul > li{
    display: inline-block;
}

  #navbarNav2 > ul {
    width: auto;
    float: none;
    display: inline-block;
    margin: 0 auto;
}

#basketButton{
  border: 5px solid black;
}

#registerFinishButton, #LoginFinishButton, #shopFromBasketButton{
  background-color:orange;
  border: black;
  border-radius: 4px;
}

#toPaymentButton{
  background-color:orange;
  border: black;
  position: absolute;
  top: 805px; 
  left: 1090px;
  width: 200;
}

#cashRegisterArea{
  background-color:rgb(240, 240, 240);
  position: absolute;
  left: 300px;
  top: 250px;
  height: 600px;
  width: 1000px;
  overflow: auto;

}

#scrollableItemsInBasket{
  background-color: lightgray;
  position: absolute;
  top: 280px;
  left: 320px;
  height: 550px;
  width: 300px;
  border-style:double;
  border-radius: 7px;
  border-color: rgb(0, 0, 0);
  overflow: scroll;
}
