#navbarNav2 > ul > li{
  font-size: large;
  font-family: 'Oriya MN';
  font-weight: bolder;
  color: rgb(36, 33, 33);
    display: inline-block;
}

  #navbarNav2 > ul {
    width: auto;
    float: none;
    display: inline-block;
    margin: 0 auto;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: rgb(102, 143, 196);
}

a:active {
  text-decoration: none;
  color: rgb(102, 143, 196);
}
 a:focus{
  background-color: rgb(134, 164, 202); 
}

#registerFinishButton, #LoginFinishButton, #shopFromBasketButton{
  background-color:orange;
  border: black;
  border-radius: 4px;
}

#toPaymentButton{
  margin-right: 30%;
  margin-top: 40%;
  background-color:orange;
  border: black;
  width: 200;
  float: right;
}

#cashRegisterArea{
  background-color:rgb(196, 215, 240);
  height: 700px;
  /*width: 1000px;
  overflow: auto;*/
  

}

#scrollableItemsInBasket{
  background-color: #f8f9fa;
  /*float:left;*/
  margin-top: 4%;
  margin-bottom: 4%;
  /*margin-left: 2%;
  width: 600px;*/
  height: fit-content;
  max-height: 600px;
  border-style:double;
  border-radius: 7px;
  border-color: rgb(50, 52, 56);
  overflow-y: scroll;
}

#amountArea{
  background-color:#f8f9fa;
  border-radius: 8px;
  border-color: rgb(196, 215, 240);
  height: 500px;
  /*width: 300px;*/
  margin-top: 4%;
  margin-bottom: 4%;
  position: sticky top;
}
#view-cashregister{
  background-color: rgb(196, 215, 240);
}

#prodimg {
    height: 250px;
    width: 250px;
}

[id^='productInScrollableAreaDiv']{
  background-color: rgb(157, 157, 157);
  width: 600px;
  height: 150px;
  border-style: solid;
  border-width: thin;
  border-color: rgb(0, 0, 0);
}

[id^='removeProductFromRegister']{
  float: right;
  margin-top: 10%;
  margin-right: 5%;
}

#productDivInBaskedModal{
  border: solid;
}

/* 
.deleteProductFromCartButton{
  height: 20px;
  width: 20px;
} */

#productDivInRegister{
  text-align: center;
  margin-top: 10px;
}

#bodyBasketModal{
  max-height: 460px;
  overflow:scroll;
}

#createAddPage{
  border-color: rgb(196, 215, 240) !important;
  border-style: double;
  color: rgb(36, 33, 33);
  font-weight: bold;
}

#THcreateAdd{
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  color: rgb(196, 215, 240);
      text-shadow:
        -1px -1px 0 rgb(50, 52, 56),
        1px -1px 0 rgb(50, 52, 56),
        -1px 1px 0 rgb(50, 52, 56),
        1px 1px 0 rgb(50, 52, 56);

}
